@model IEnumerable<CalorieTrackerCookBookApp.Models.UserViewModel>

<h2>User List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.CurrentUsername</td>
                <td>@user.UserEmail</td>
                <td>
                    <a href="@Url.Action("Details", "User", new { id = user.Id })" class="btn btn-info">Details</a>
                    <a href="@Url.Action("Edit", "User", new { id = user.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "User", new { id = user.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

