@model IEnumerable<CalorieTrackerCookBookApp.Models.RecipeViewModel>

@{
    ViewData["Title"] = "Recipes";
}

<h2>Recipes</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Recipe</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Recipe Name</th>
            <th>Description</th>
            <th>Calories</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model)
        {
            <tr>
                <td>@recipe.RecipeName</td>
                <td>@recipe.RecipeDescription</td>
                <td>@recipe.Category</td>
                <td>
                    <a asp-action="Details" asp-route-id="@recipe.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@recipe.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@recipe.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

